body {
  margin: 0;
}
.level {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.actor {
  position: absolute;
}
.player {
  background: rgb(64, 64, 64);
}
.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.lava {
  background: rgb(255, 100, 100);
}
.wall {
  background: white;
}
.coin {
  background: rgb(241, 229, 89);
}
.lives {
    position: relative;
}
.life {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    background: brown;
    z-index: 5;
}
.active {
    background: rgb(240, 50, 36);
}
.win-message {
    background: rgb(52, 166, 251);
    width: 600px;
    height: 450px;
    color: orange;
    font-size: 56px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
