body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.level {
  overflow: hidden;
  max-width: 800px;
  max-height: 650px;
  position: relative;
}
.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.actor {
  position: absolute;
}
.player {
  background: rgb(64, 64, 64);
}
.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.lava {
  background: rgb(255, 100, 100);
}
.wall {
  background: white;
}
.coin {
  background: rgb(241, 229, 89);
}
.monster {
    background: purple;
}
.lives {
    position: relative;
}
.life {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    background: brown;
    z-index: 5;
}
.active {
    background: rgb(240, 50, 36);
}
.message {
    width: 100%;
    height: 100%;
    color: orange;
    font-size: 56px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message__win {
    background: rgb(52, 166, 251);
}
.message__pause {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}
.game {
    position: relative;
    width: fit-content;
}
.pause-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.pause-btn::before, .pause-btn::after {
    content: '';
    display: block;
    width: 6px;
    height: 16px;
    background: orange;
    position: absolute;
}
.pause-btn::after {
    right: 0;
}
